@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0071e3;
  --color-success: #21bf5e;
  --color-bg-base: #153e75;
}

.dark {
  --color-bg-base: #0f172a;
}

* {
  font-family: "Inter", sans-serif;
}
